h1 {
  font-family: "Franklin Gothic Medium",sans-serif;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
  font-style: normal;
  color: #005BAA;
  margin-bottom: 24px;
}
h2 {
  font-family: "Franklin Gothic Medium",sans-serif;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase !important;
  color: #005BAA !important;
  letter-spacing: 3px;
}
h3 {
  font-family: "Franklin Gothic Medium",sans-serif;
  font-size: 24px;
  line-height: 36px;
  color: #005BAA;
  margin-bottom: 10px;
}
h4 {
  font-family: "Franklin Gothic Medium",sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #005BAA;
  margin-top: 15px;
  margin-bottom: 10px;
}
body {
  font-family: "Franklin Gothic Book",sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  color: #666666;
}
a {
  color: #005BAA !important;
  font-style: bold
}
#icon {
  width: 90px;
  height: 90px;
  padding: 0px 0px 0px 0px;
}
#birds {
  width: 150px;
  height: 150px;
  margin: 0;
}
.table-wrapper {
  margin: 10px;
}
.row {
  clear: both;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0;
}
@media screen and (min-width: 700px) {
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin: 0;
  }
}
@media screen and (min-width: 700px) {
  .column5 {
    display: flex;
    flex-direction: column;
    flex-basis: 160px;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 5px;
  }
}
figure {
  text-align: center;
  margin: 10px;
}
figcaption {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}
#photobar {
  width: 100%;
}
#photoleft {
  width: 50%;
  float: left;
  padding: 0 10px 0 0;
}
#photoright {
  width: 50%;
  float: right;
  padding: 0;
}
#portrait {
  height: 350px;
  padding: 0px 0px 0px 0px;
}
#fig80 {
  width: 750px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#fig60 {
  width: 600px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn {
  width: 140px;
  height: 55px;
  white-space: normal;
  border: 2px solid #005BAA;
  border-radius: 8px;
  transition-duration: 0.4s;
}
.btn:hover {
  background-color: #005BAA;
  color: white;
}