h1 {
  font-family: "Franklin Gothic Medium",sans-serif;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
  font-style: normal;
  color: #005BAA;
  margin-bottom: 24px;
}
h2 {
  font-family: "Franklin Gothic Medium",sans-serif;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase !important;
  color: #005BAA !important;
  letter-spacing: 3px;
}
h3 {
  font-family: "Franklin Gothic Medium",sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #005BAA;
}
body {
  font-family: "Franklin Gothic Book",sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  color: #666666;
}
th {
  font-family: "Franklin Gothic Medium",sans-serif;
  font-size: 24px;
  line-height: 36px;
  text-align: left;
  vertical-align: bottom;
  color: #005BAA;
  padding: 10px;
}
td {
  text-align: left;
  padding: 10px;
}
a {
  color: #005BAA !important;
  font-style: bold
}
img[alt=icon] {
  display: inline;
  width: 90px;
  padding-right: 10px;
}
figure {
  float: right;
  padding: 10px;
}
figcaption{
  font-size: 14px;
  margin-top: 5px;
}